---

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Rollodex</title>
  </head>
  <body class="text-slate-700">
    <header>
      <nav></nav>
    </header>
    <main>
      <h1 class="text-2xl">Rollodex</h1>
    </main>
    <footer></footer>
  </body>
</html>
